$font-baloo:"Baloo Thambi 2", cursive;
$font-raleway:"Raleway", cursive;
$font-rubik:"Rubik", cursive;
$color-primary: rgb(63, 53, 211);
$color-second: rgb(21, 188, 230);
$color-yellow: rgb(211, 208, 53);
